---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: 'Comfortaa', Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$spacing-xs:       5px;
$spacing-sm:       10px;
$spacing-md:       15px;
$spacing-lg:       30px;
$spacing-xl:       100px;

$border-radius:    15px;

$text-color:       #111;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);
$shadow:           rgba(2,12,27,0.7); 

$indigo: #5E60CE;
$purple: #7400b8;
$violet: #6930C3;
$blue: #56CFE1;
$body: #eefdfb;

$background-color: $body;
$borderColor: $purple;
$nameColor: $indigo;
$linkColor: $purple;
$linkHoverColor: $violet;
$linkBorder: $blue;

// Width of the content area
$content-width:    1200px;

$on-palm:          600px;
$on-laptop:        768px;


@mixin shadow {
  box-shadow: 0 10px 30px -15px $shadow;
}

// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (min-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "components",
        "blog",
        "syntax-highlighting",
        "utilities"
;
