---
layout: default
---
<div class="home">
  <h1 class="title">
    Hi! 👋 I'm <span class="name">Aly Fluckey</span>.
  </h1>
  <p class="u--noMargin">
    I am a front-end focused developer with a passion for design systems, usability and inclusivity. With over 10 years of experience in software development, UX and consulting, I am a skilled communicator and enjoy working with teams to build products that address actual human needs.
  </p>
</div>

