.header {
  border-top: $spacing-sm solid $borderColor;
}

.footer {
  border-bottom: $spacing-sm solid $borderColor;
  padding: $spacing-lg 0;
  text-align: center;
}

.title {
  font-weight: 900;
  font-size: 36px;
  @include media-query($on-laptop) {
    font-size: 48px;
  }
}

.name {
  color: $nameColor;
}

.home {
  max-width: 700px;
  margin: 0 auto;
}

.project {
  margin-bottom: $spacing-xl;

  @include media-query($on-laptop) {
    display: grid;
    gap: $spacing-sm;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
  }
}

.project-time {
  margin-bottom: $spacing-xs;
  font-family: monospace;
}

.project-content {
  @include media-query($on-laptop) {
    position: relative;
    grid-area: 1 / 1 / -1 / 7;

    .project:nth-of-type(2n) & {
      grid-column: 7 / -1;
      text-align: right;
    }
  }
}

.project-description {
  background: rgba(0, 229, 255, 0.5);
  backdrop-filter: blur(2px);
  padding: $spacing-lg;
  margin-bottom: $spacing-sm;
}

.project-image {
  @include shadow;
  grid-area: 1 / 6 / -1 / -1;
  border-radius: $border-radius;
  z-index: -1;
  margin-top: $spacing-md;

  img {
    border-radius: $border-radius;
  }

  @include media-query($on-laptop) {
    grid-area: 1 / 6 / -1 / -1;
    position: relative;
    margin-left: $spacing-lg;
    margin-right: 0;
    margin-top: 0;

    .project:nth-of-type(2n) & {
      grid-column: 1 / 8;
      margin: 0 $spacing-lg 0 0;
    }
  }
}

.project-tech {
  list-style: none;
  margin: 0;

  li {
    display: inline-block;
    margin-right: $spacing-md;
    font-family: monospace;
  }
}

.project-external-link {
  display: inline-block;
  font-size: 24px;
  color: $text-color;
  margin-top: $spacing-sm;
  border: 0;

  &:hover {
    border: 0;
  }
}
