.l--body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.l--content {
  flex: 1 auto;
  padding: $spacing-unit 0;
}

.l--wrapper {
  max-width: $content-width;
  width: 100%;
  margin: auto;
  padding: 0 $spacing-unit;
  @extend %clearfix;
}
